// COLOR MAP
$colors: (
    primary-white-color: #fff,
    first-gradient-color: rgba(252,227,138, 0.9),
    second-gradient-color: rgba(243,129,129, 0.9),
    general-text-color: #999,
    title-color: #333,
    accent-color: #fce38a,
    bg-accent-color:#f38181,
    placeholder-color: #ccc,
    secondary-bg: #95e1d3,
    general-border-color:#e5e5e5
);

// FONTS VARIABLES
$general-text-font: 'Roboto', sans-serif;
$main-font: 'Montserrat', sans-serif;
$pre-title-font: 'Kaushan Script', cursive;