*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #555252;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

/* HEADER */

.header {
    padding: 38px 0;
    background: #ccc;
    margin-bottom: 62px;
}

.site-logo {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 1.067;
    text-transform: uppercase;
    text-decoration: none;
}

.site-logo span {
    font-weight: 900;
    color: #1abc9c;
}

.site-navigation-menu {
    margin-top: 7px;
    list-style: none;
    float: right;
}

.nav-item {
    float: left;
    font-weight: bold;
    font-size: 14px;
}

.nav-item a {
    text-decoration: none;
    text-transform: uppercase;
}

.nav-item1 {
    margin-right: 34px;
}

.nav-item2 {
    margin-right: 38px;
}

.nav-item3 {
    margin-right: 32px;
}

.nav-item4 {
    margin-right: 28px;
}

.nav-item5 {
    margin-right: 36px;
}

.nav-item a:hover,
.nav-item a:focus {
    color: #1abc9c;
}

/* FEATURED PRODUCTS SECTION */

.featured-products {
    margin-bottom: 102px;
}

.featured-products-wrapper {
    width: 1110px;
    height: 675px;
    margin: 0 auto;
    background: #ccc;
}

.section-headline {
    font-weight: 900;
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
}

.featured-products h2 {
    margin-bottom: 92px;
}

.section-headline::after {
    content: '';
    display: block;
    margin: 0 auto;
    margin-top: 28px;
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
}

.list-item {
    list-style: none;
    width: 1110px;
    margin: 0 auto;
}

.products-item {
    float: left;
    width: 255px;
    height: 322px;
    font-size: 0;
}

.products-item:nth-of-type(-n + 4) {
    margin-bottom: 30px;
}

.products-item:not(:nth-of-type(4n)) {
    margin-right: 30px;
}

.product-bg {
    width: 255px;
    /* height: 283px; */
    line-height: 283px;
    background: #e8effc;
}

.product-image {
    /* margin: auto auto; */
    vertical-align: middle;
}

.product-name {
    display: inline-block;
    vertical-align: middle;
    padding: 7px 14px;
    width: 202px;
    height: 40px;
    background: #000;
    font-size: 18px;
    line-height: 1.77;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-transform: uppercase;
}

.product-price {
    display: inline-block;
    vertical-align: middle;
    padding: 7px 0;
    width: 53px;
    height: 40px;
    background: #8c8c8c;
    font-size: 18px;
    line-height: 1.77;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.product-link:hover .product-name,
.product-link:focus .product-name {
    background: #1abc9c;
}

.product-link:hover .product-price,
.product-link:focus .product-price {
    background: #7fd9c7;
}

/* LATEST NEWS SECTION  */
  



.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; 
}