html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  background-image: linear-gradient(to right, #654ea3, #eaafc8);
}

.search-form {
  display: flex;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-top: 20px;
  justify-content: center;
}

.search-form input {
  width: 230px;
  height: 40px;
  border: 1px solid #ffc75f;
  padding: 14px 12px;
  font-weight: 300;
  font-style: italic;
  font-size: 14px;
  line-height: 1.6;
}

.search-form button {
  padding: 10px 32px;
  border: none;
  background-color: #ffc75f;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #4b4453;
  cursor: pointer;
}

.search-form button:hover,
.search-form button:focus {
  background-color: #4b4453;
  color: #ffc75f;
}

.weather > h2 {
  font-weight: 700;
  color: #4b4453;
  text-transform: uppercase;
}

.weather.is-hidden {
  display: none;
  background: #000;
}

.weather {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: 1px solid #ffc75f;
}

.weather > p {
  font-style: italic;
  font-size: 24px;
  color: #ffc75f;
}

p > span {
  font-weight: 700;
  color: #4b4453;
}

.icon {
  width: 120px;
  border-radius: 50%;
}

.credit {
  width: 500px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  font-weight: 300;
  font-style: italic;
}

.credit > a {
  color: #ffc75f;
}

.credit > a:hover,
.credit > a:focus {
  color: #d6effa;
  outline: none;
}
