html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  margin: 0;
  padding: 0;
  background: #fefedf;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  background: #00c9a7;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
}

.search-form {
  display: inline-block;
  padding-top: 10px;
}

.search-form input,
.load-more {
  height: 30px;
  border: 1px solid #845ec2;
  font-size: 14px;
  line-height: 1.6;
}

.search-form input {
  width: 230px;
  padding: 14px 12px;
  font-style: italic;
  font-weight: 300;
}

.load-more {
  width: 120px;
  cursor: pointer;
  background: #c493ff;
  font-weight: 700;
}

.gallery {
  list-style: none;
  display: flex;
  margin: 0;
  margin-top: 60px;
  padding: 0;
  flex-wrap: wrap;
}

.photo-card {
  padding: 10px;
}

.card-img {
  display: block;
  max-width: 100%;
}

.stats {
  display: flex;
  justify-content: space-between;
}

.stats-item {
  display: flex;
}

.material-icons {
  padding-left: 6px;
}
